'context-menu':
  '.overlayer':
      'Find Next Selected Text':     'find-selection:find-next'
      'Find Previous Selected Text': 'find-selection:find-previous'
      'Find Next Selected Text Casesensitive':     'find-selection:find-next-casesensitive'
      'Find Previous Selected Text Casesensitive': 'find-selection:find-previous-casesensitive'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Find Selection'
      'submenu': [
        { 'label': 'Find Next',     'command': 'find-selection:find-next' }
        { 'label': 'Find Previous', 'command': 'find-selection:find-previous' }
        { 'label': 'Find Next Casesensitive  ',     'command': 'find-selection:find-next-casesensitive' }
        { 'label': 'Find Previous Casesensitive',   'command': 'find-selection:find-previous-casesensitive' }
      ]
    ]
  }
]
